<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id ="container">
        <%products.forEach((x)=>{%>
          <div>
        <h3><%=x.name%></h3>
        <p><%=x.toString()%></p>
          </div>

        <%});%>
      

    </div>
    
  </body>
</html>
